<!-- <nav>
  <ul>
    <li><a routerLink="/intern1/heatmap">Heatmap</a></li>
    <li><a routerLink="/intern1/sunburst">Sunburst</a></li>
    <li><a routerLink="/intern1/bubble">Bubble</a></li>
    <li><a routerLink="/intern1/org-chart">Org-Chart</a></li>
  </ul>
</nav>
<router-outlet></router-outlet> -->


<nav>
  <button routerLink="/intern1/heatmap">Heatmap</button>
  <button routerLink="/intern1/sunburst">Sunburst</button>
  <button routerLink="/intern1/bubble">Bubble</button>
  <button routerLink="/intern1/org-chart">Org-Chart</button>
</nav>
<router-outlet></router-outlet>
