.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
}

.org-chart-svg {
  font-family: Helvetica, Arial, sans-serif;
  /* background-color: #dfe3e9; */
  user-select: none;
  display: flex;
  justify-content: center;
  padding: 5px;
  /* background-color: blue; */
}

.link {
  fill: none;
  stroke: #555;
  stroke-width: 2px;
}

.node {
  cursor: pointer;
  &:hover {
    opacity: 0.85;
  }
}

.node rect {
  fill: #eaf0f6;
  stroke: #2c3e50;
  stroke-width: 1px;
}

.node text {
  font: 12px sans-serif;
  pointer-events: none;
}

.expand-collapse-group {
  pointer-events: all;
}
