<!-- <div>
  <nav>
    <ul>
      <li><a routerLink="/heatmap" routerLinkActive="active">Heatmap</a></li>
      <li><a routerLink="/sunburst" routerLinkActive="active">Sunburst</a></li>
      <li>
        <a routerLink="/bubble" routerLinkActive="active">Bubbletooltip</a>
      </li>
      <li>
        <a routerLink="/interns2" routerLinkActive="active">Interns2</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div> -->

<div>
  <nav>
    <ul>
      <li><a routerLink="/intern1" routerLinkActive="active">Charts1</a></li>
      
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
<!-- <app-intern2></app-intern2> -->